* { 
	padding: 0; 
	margin: 0; 
}

html, body {
	background-color: #fff;
	height: 100%; 
	width: 100%;
}

#wrapper {
	min-height: 100%;
    margin-bottom: -50px;
}

#header-background {
	position: relative;
	float: left;
	margin: 0 auto;
	background-color: #fff;
	width: 740px;
	height: 72px;
	margin: -50px 0 0 80px;
	z-index: 500;
}

#logo {
	position: relative;
	float: left;
	z-index: 100;
	color: #d9534f;
	width: 300px;
	height: 80px;
	text-align: left;
	text-transform: uppercase;
	text-shadow: inset 1px 1px 1px rgba(70, 70, 70, 0.7);
	font: bold 44px/30px 'sans', 'trebuchet MS', 'Tahoma';
	margin: -35px 0 0 80px;
	z-index: 500;
}

#content {
	width: 900px;
    min-height: 100%;
    height: 100%;
    padding: 50px 0;
    padding-bottom: 50px;
	top: 85px;
	bottom: 150px;
	margin: 0 auto;
	text-align: center;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#search-form {
	width: 740px;
	height: 62px;
	
	margin: 10px 0 0 0;
}

#search {
	height: 30px;
	width: 700px;
	margin: 0 auto;
	
}

#search input {
	border-left: 1px solid #d1d1d1;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	margin-left: -20px;
	float: left;
	width: 647px;
	padding-left: 10px;
	height: 28px;
	color: #333;
	font: normal 15px/30px 'sans', 'trebuchet MS', 'Tahoma';
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25); 
}

#search input:hover {
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

#search button {
	position: relative;
	margin-right: -20px;
	float: right;
	border: 0;
	height: 30px;
	width: 80px;
	text-align: center;
	overflow: visible;
	padding: 0;
	cursor: pointer;
	font: bold 12px/30px 'sans', 'trebuchet MS', 'Tahoma';
	color: white;
	text-transform: uppercase;
	background-color: #d9534f;
	border: 1px solid #d43f3a;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.25); 
    -webkit-appearance: button;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#search button:hover {
	background-color: #d2322d;
	border-color: #ac2925;
}

#search button:focus, #search button:active {
	border: 1px solid #d43f3a !important;
	-webkit-box-shadow: inset 0px 5px 3px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: inset 0px 2px 5px rgba(50, 50, 50, 0.25);
    box-shadow: inset 0px 2px 5px rgba(50, 50, 50, 0.25); 
}

#search-menu {
	width: 727px;
	height: 20px;
	margin: 0 auto;
	padding: 5px 5px ;
	list-style: none;
	text-align: left;
	background-color: #eee;
	border: 1px solid #d1d1d1;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.1);
}

#search-menu li {
	margin-right: 10px;
	color: #555;
	font: normal 12px/20px 'sans', 'trebuchet MS', 'Tahoma';
	display: inline-block;
}

#search-menu li.separator {
	position: absolute;
	display: inline-block;
	width: 1px;
	height: 20px;
	border-right: 1px solid #d1d1d1;
}

#search-menu #transcription-text, #search-menu #sort-by {
	margin-left: 12px;
}

#results {
	width: 730px;
	margin: 0 auto;
	margin-top: 80px !important;
    overflow: inherit;
    font: normal 12px/20px 'sans', 'trebuchet MS', 'Tahoma';
    letter-spacing: 1px;
    color: #333;
}

#results #results-header {
	border-top: 0;
	padding-top: 0;
	padding-bottom: 4px;
	color: #d83c3c;
	font-weight: bold;
}

#results #loader {
	position: absolute;
	width: 738px;
	height: 128px;
	margin: 0 auto;
	margin-top: 100px !important;
    background: url('../images/preloader.gif') no-repeat 50% 50%;
}

#results #output, #results #tohide {
	display: none;
}

/**
 * Result header buttons
 */

.switcher-text {
	position: relative;
	float: left;
	width: auto;
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 5px;
}

.onoffswitch {
	margin-left: 5px;
	display: inline-block;
    position: relative; 
    width: 68px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}

.onoffswitch#transcript-switcher {
	width: 55px;
}

.onoffswitch#sort-by-switcher {
	width: 82px;
}

.onoffswitch:active, .onoffswitch:focus {
	border-radius: 3px;
	-moz-box-shadow: 0 0 2px #ffd94f,0 0 2px #ffd94f,0 0 3px #ffd94f,inset 0 2px 5px rgba(0,0,0,.57);
	-webkit-box-shadow: 0 0 2px #ffd94f,0 0 2px #ffd94f,0 0 3px #ffd94f,inset 0 2px 5px rgba(0,0,0,.57);
	box-shadow: 0 0 2px #ffd94f,0 0 2px #ffd94f,0 0 3px #ffd94f,inset 0 2px 5px rgba(0,0,0,.57);
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 1px solid #999999; 
    border-radius: 3px;
}
.onoffswitch-inner {
    width: 200%; 
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; 
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; 
    width: 50%; 
    height: 17px; 
    padding: 0; 
    line-height: 17px;
    font-size: 13px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; box-sizing: border-box;
    -moz-box-shadow: 0 0 2px #ffd94f,0 0 2px #ffd94f,0 0 3px #ffd94f,inset 0 2px 5px rgba(0,0,0,.57);
	-webkit-box-shadow: 0 0 2px #ffd94f,0 0 2px #ffd94f,0 0 3px #ffd94f,inset 0 2px 5px rgba(0,0,0,.57);
	box-shadow: 0 0 2px #ffd94f,0 0 2px #ffd94f,0 0 3px #ffd94f,inset 0 2px 5px rgba(0,0,0,.57);
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #6bc873; 
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #f28365; 
    color: #fff;
    text-align: right;
}

.onoffswitch-inner.chooselang:before {
	content: "russian";
}

.onoffswitch-inner.chooselang:after {
	content: "english";
}

.onoffswitch-inner.transcription:before {
	content: "show";
}

.onoffswitch-inner.transcription:after {
	content: "hide";
    text-align: left;
    padding-left: 20px;
}

.onoffswitch-inner.sort-by:before {
	content: "languages";
}

.onoffswitch-inner.sort-by:after {
	content: "similarity";
    text-align: left;
    padding-left: 20px;
}

.onoffswitch-switch {
	width: 13px;
	height: 17px;
	margin: 0 1px 0 0;
    background: #eee;
    position: absolute;
    right: 53px;
    border-radius: 3px;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#fff),color-stop(100%,#c1c1c1));
	background: -moz-linear-gradient(top,#fff 10%,#c1c1c1 100%);
	background: -o-linear-gradient(top,#fff 10%,#c1c1c1 100%);
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.57);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.57);
	box-shadow: 0 0 3px rgba(0,0,0,.57);
}

.onoffswitch-switch.transcription {
	right: 40px;
}

.onoffswitch-switch.sort-by {
	right: 67px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


#results .lang_link {
	position: absolute;
	width: 25px;
	height: 25px;
	margin-top: -35px;
	margin-left: -45px;
	background-color: #f1f1f1 !important;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px 0 0 5px;
	z-index: 100;
	cursor: pointer;
	text-decoration: underline;
}

#results .lang {
	position: relative;
	margin-left: 26px;
	width: 682px;
	padding: 34px 15px 27px 15px;
	display: table;
	z-index: 10;
}

#results .hidewords {
	position: absolute;
	display: none;
	margin-left: -45px;
	height: calc(100% - 37px);
	width: 35px;
	cursor: pointer;
}

#results .hidewords:hover {
	background-color: #efefef;
	background-image: url('../images/hidewords.png');
	background-repeat: repeat-y;
	background-position: 50% 50%;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

#results #en.lang_link {
	background: url('../images/flags/en.ico') no-repeat 50% 37%;
}

#results #ru.lang_link {
	background: url('../images/flags/ru.ico') no-repeat 50% 37%;
}

#results #all.lang_link {
	background: url('../images/flags/all.png') no-repeat 50% 50%;
}

#results .focused {
	background-color: #f5f5f5 !important;
	border-bottom: 1px solid #e1e1e1;
	z-index: 100;
}

#results .wordline {
	display: table-row;
	width: 100%;
}

#results .wordline.lang-header {
	position: absolute;
	margin-left: -25px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #f1f1f1;
	height: 30px;
	margin-top: -35px;
	padding-left: 10px;
	width: 708px;
}

#results .lang-header .word {
	position: absolute;
	font-weight: bold;
	color: #555;
	width: auto;
	margin: 5px 0 0 15px !important;
	cursor: pointer;
}

#results .lang-header .more {
	position: relative;
	float: right;
	margin-right: 16px;
	margin-top: 5px;
	text-decoration: underline;
	cursor: pointer;
	width: auto;
}

#results .cell {
	display: table-cell;
	width: 170px;
	/*border: 1px solid red;*/
}

#results .word, #results .transcript {
	width: 170px;
	text-align: left;
}

#results .translate {
	width: 293px;
	text-align: left;
}

#results .wide-translate {
	width: 463px !important;
}

#results .percent {
	float: right;
	position: relative;
	text-align: right;
	width: 80px;
}

#results .loadmore {
	position: absolute;
	text-align: center;
	width: 	697px;
	padding: 2px 0;
	color: #bbb;
	cursor: pointer;
}

#results .loadmore:hover {
	background-color: #efefef;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

#footer {
	border-top: 1px solid #ddd;
    position: relative;
	width: 740px;
	margin: 0 auto;
	height: 49px;
	text-align: center;
	z-index: 100;
}

#about {
	/*border: 1px solid red;*/
	margin: 0 auto;
	width: 400px;
	height: 30px;
	color: #aaa;
	word-spacing: 30px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(70, 70, 70, 0.1);
	font: bold 13px/30px 'sans', 'trebuchet MS', 'Tahoma';
}

#about a {
	text-decoration: none;
	color: #aaa;
}

#about a:hover {
	text-decoration: underline;
	color: #333;
	transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
}

/**
 * Focused block
 */

#opaco {
	background-color: #fff;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.hidden {
	display: none !important;
}

.absolute {
	position: absolute !important;
}

.progressbar {
	position: absolute;
	margin: 4px 0 0 12px;
  	background-color: #efefef;
	border-radius: 0px; /* (height of inner div) / 2 + padding */
	padding: 3px;
	height: 7px;
	width: 70px;
}
    
.progressbar > div {
	background-color: chartreuse;
	width: 75.2%; /* Adjust with JavaScript */
	height: 90%;
	border-radius: 3px;
}