* { 
	padding: 0; 
	margin: 0; 
}

html, body {
	background-color: #fff;
	height: 100%; 
	width: 100%;
}

#wrapper {
	min-height: 100%;
    margin-bottom: -50px;
}

#logo {
	position: absolute;
	margin: -20px 0 0 78px;
	z-index: 100;
	color: #d83c3c;
	text-transform: uppercase;
	text-shadow: inset 1px 1px 1px rgba(70, 70, 70, 0.7);
	font: bold 44px/30px 'sans', 'trebuchet MS', 'Tahoma';
}

#content {
	width: 900px;
    min-height: 100%;
    height: 100%;
    padding: 50px 0;
    padding-bottom: 50px;
	top: 85px;
	bottom: 150px;
	margin: 0 auto;
	text-align: center;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#search {
	display: block;
	position: relative;
	height: 30px;
	width: 740px;
	margin: 0 auto;
	margin-top: 35px !important;
	z-index: 100;
}

#search input {
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	float: left;
	width: 637px;
	padding-left: 20px;
	height: 28px;
	color: #333;
	font: normal 15px/30px 'sans', 'trebuchet MS', 'Tahoma';
}

#search input:hover {
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

#search button {
	position: relative;
	float: right;
	border: 0;
	height: 30px;
	width: 80px;
	text-align: center;
	overflow: visible;
	padding: 0;
	cursor: pointer;
	font: bold 12px/30px 'sans', 'trebuchet MS', 'Tahoma';
	color: white;
	text-transform: uppercase;
	background: #D83C3C;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

#search button:before {
	content: '';
	position: absolute;
	border-width: 6px 6px 6px 0;
	border-style: solid solid solid none;
	border-color: transparent #d83c3c transparent;
	top: 10px;
	right: 80px;
}

#results {
	width: 738px;
	margin: 0 auto;
	margin-top: 30px !important;
    overflow: inherit;
    font: normal 12px/20px 'sans', 'trebuchet MS', 'Tahoma';
    letter-spacing: 1px;
    color: #333;

}

#results #results-header {
	border-top: 0;
	padding-top: 0;
	padding-bottom: 2px;
	color: #d83c3c;
	font-weight: bold;
}

#results .lang_link {
	position: absolute;
	width: 25px;
	height: 25px;
	margin-top: -16px;
	margin-left: -45px;
	background-color: #fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px solid #ddd;
	padding: 5px 0 0 5px;
	z-index: 100;
	cursor: pointer;
	text-decoration: underline;
}

#results .lang {
	position: relative;
	margin-left: 26px;
	border-top: 1px solid #ddd;
	width: 682px;
	padding: 15px;
	display: table;
	z-index: 10;
}

#results .focused {
	border-top: 1px solid #aaa;
	background-color: #eee;
	z-index: 100;
}

#results .wordline {
	display: table-row;
	width: 100%;
}

#results .cell {
	display: table-cell;
	width: 25%;
	/*border: 1px solid red;*/
}

#results .word, #results .transcript {
	width: 25%;
	text-align: left;
}

#results .translate {
	width: 43%;
	text-align: left;
}

#results .percent {
	position: relative;
	text-align: right;
	width: 7%;
}

#results #percent-button {
	position: absolute;
	margin: -15px 0 0 32px;
	width: 24px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
}

.chrome #results #percent-button {
	position: absolute;
	margin: 0 0 0 32px;
	width: 24px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
}

#results #percent-button.active {
	padding: 1px 0 0 1px;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    inset 1px 1px 1px 1px rgba(50, 50, 50, 0.25);
	box-shadow:         inset 1px 1px 1px 1px rgba(50, 50, 50, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#footer {
	border-top: 1px solid #ddd;
    position: relative;
	width: 740px;
	margin: 0 auto;
	height: 49px;
	text-align: center;
	z-index: 100;
}

#about {
	/*border: 1px solid red;*/
	margin: 0 auto;
	width: 400px;
	height: 30px;
	color: #aaa;
	word-spacing: 30px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(70, 70, 70, 0.1);
	font: bold 13px/30px 'sans', 'trebuchet MS', 'Tahoma';
}

#about a {
	text-decoration: none;
	color: #aaa;
}

#about a:hover {
	text-decoration: underline;
	color: #333;
	transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
}

/**
 * Focused block
 */

#opaco {
	background-color: #fff;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.hidden {
	display: none;
}
