<!-- loadstorm-29ca6e39a6 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
    <head>
        <meta name='yandex-verification' content='6e8d8264db7f6e5c' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 	
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <script type="text/javascript" language="JavaScript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" language="JavaScript" src="{% static 'js/query-string.js' %}"></script>
        <script type="text/javascript" language="JavaScript" src="{% static 'js/main.js' %}"></script>
        {% block scripts %}
        {% endblock %}
        <title>Solance</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="content">
                <a href="/"><div id="logo"></div></a>
                {% block content %}

                {% endblock %}
                
            </div>
        </div>
        <div id="footer">
            <div id="about">
                <a href="https://fivt.in.ru/confluence/pages/viewpage.action?pageId=7012409">About</a> 
                <a href="http://solance-blog.tumblr.com">Blog</a> 
                <a href="mailto:trdmrks@yandex.ru">Contact</a>
            </div>
        </div>
    {% if DEBUG != True %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter24210610 = new Ya.Metrika({id:24210610,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
                    } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <div><img src="//mc.yandex.ru/watch/24210610" style="position:absolute; left:-9999px;" alt="" /></div>
    <!-- /Yandex.Metrika counter -->
    {% endif %}
    </body>
</html>