<!-- loadstorm-29ca6e39a6 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
    <head>
        <meta name="google-site-verification" content="Zbl5jskc-0NRcAwJZcGC-IO0bfK2PAIlXqdYezBU2fQ" />
        <meta name='yandex-verification' content='6e8d8264db7f6e5c' />
        <meta name="Keywords" content="Поиск, созвучных, слов, искать, созвучные, слова, созвучия, рифмы, звучание, похожие"/>
        <meta name="Description" content="Сервис для поиска созвучных слов"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 	
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <script type="text/javascript" language="JavaScript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" language="JavaScript" src="{% static 'js/query-string.js' %}"></script>
        <script type="text/javascript" language="JavaScript" src="{% static 'js/main.js' %}"></script>
        <!-- Put this script tag to the <head> of your page -->
        <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        {% block scripts %}
        {% endblock %}
        <title>Solance - поиск созвучных слов</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="content">
                <a href="/"><div id="logo"></div></a>
                {% block content %}

                {% endblock %}
                
            </div>
        </div>
        <div id="footer">
            <div id="about">
                <!--<a href="https://fivt.in.ru/confluence/pages/viewpage.action?pageId=7012409"></a>-->
                <a href="http://solance-blog.tumblr.com">Блог</a>
                <a href="mailto:trdmrks@yandex.ru">Контакты</a>
                <div id="social_networks">
                    <!-- Put this script tag to the place, where the Share button will be -->
                    <script type="text/javascript"><!--
                        document.write(VK.Share.button({
                          url: 'http://trademark.javafiddle.org',
                          title: 'Solance',
                          description: 'Поиск созвучных слов',
                          noparse: true
                        }));
                    --></script>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://trademark.javafiddle.org" data-hashtags="Solance">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    <div class="fb-share-button" data-href="http://trademark.javafiddle.org"></div>
                </div>
            </div>
        </div>
    {% if DEBUG != True %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter24210610 = new Ya.Metrika({id:24210610,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
                    } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <div><img src="//mc.yandex.ru/watch/24210610" style="position:absolute; left:-9999px;" alt="" /></div>
    <!-- /Yandex.Metrika counter -->
    {% endif %}
    </body>
</html>