{% extends "base.html" %}
{% block scripts %}
    {% load staticfiles %}
{% endblock %}
{% block content %}
<div id="header-background">
        <form id="main-searcher" >
            <div class="input-group">
                <input type="text" class="form-control" name="findme2"  placeholder="Введите слово" value="{{ forsearch }}" autofocus >
                <input id="resultmode" type="hidden" name="mode" value=""/>
                <span class="input-group-btn">
                    <button type="button" id="search_button" class="btn btn-danger">Показать</button>
                </span>
            </div>
        </form>

        <div id="search-menu">
            <li>
                <div class="switcher-text">Язык перевода: </div>
                <div class="onoffswitch" id="lang-switcher">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chooselang" checked>
                    <label class="onoffswitch-label" for="chooselang">
                        <div class="onoffswitch-inner chooselang" id="inner-lang"></div>
                        <div class="onoffswitch-switch chooselang"></div>
                    </label>
                </div>
            </li>
            <li class="separator"></li>
            <li>
                <div class="switcher-text" id="transcription-text">Транскрипция: </div>
                <div class="onoffswitch" id="transcript-switcher">
                    <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="showtranscript" checked>
                    <label class="onoffswitch-label" for="showtranscript">
                        <div class="onoffswitch-inner transcription"></div>
                        <div class="onoffswitch-switch transcription"></div>
                    </label>
                </div>
            </li>
            <li class="separator" ></li>
            <li>
                <div class="switcher-text" id="sort-by">Сортировать по: </div>
                <div class="onoffswitch" id="sort-by-switcher">
                    <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="sort-by-button" checked>
                    <label class="onoffswitch-label" for="sort-by-button">
                        <div class="onoffswitch-inner sort-by"></div>
                        <div class="onoffswitch-switch sort-by"></div>
                    </label>
                </div>
            </li>
        </div>
</div>
{% block results %}

<div id="results">

    <div id="loader" style="display: none"></div>
    <div id="output"></div>
    <div id="tohide" style="display:none"></div>
</div>
{% endblock %}
{% endblock %}