{% extends "base.html" %}
{% block scripts %}
    {% load staticfiles %}
{% endblock %}
{% block content %}
<div id="header-background">
    <div id="search-form">
        <div id="search">
            <div id="lang"></div>
                <input type="text" name="findme2" id="findme" placeholder="Введите слово" value="{{ forsearch }}" autofocus/>
                <button type="submit" id="search_button">Искать</button>
        </div>
        <ul id="search-menu">
            <li>
                <div class="switcher-text">Язык перевода: </div>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="chooselang" checked>
                    <label class="onoffswitch-label" for="chooselang">
                        <div class="onoffswitch-inner chooselang" id="inner-lang"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </li>
            <li class="separator"></li>
            <li>
                <div class="switcher-text" id="transcription-text">Транскрипция: </div>
                <div class="onoffswitch" id="transcript-switcher">
                    <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="showtranscript" checked>
                    <label class="onoffswitch-label" for="showtranscript">
                        <div class="onoffswitch-inner transcription"></div>
                        <div class="onoffswitch-switch transcription"></div>
                    </label>
                </div>
            </li>
            <li class="separator" ></li>
            <li>
                <div class="switcher-text" id="sort-by">Сортировать по: </div>
                <div class="onoffswitch" id="sort-by-switcher">
                    <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="sort-by-button" checked>
                    <label class="onoffswitch-label" for="sort-by-button">
                        <div class="onoffswitch-inner sort-by"></div>
                        <div class="onoffswitch-switch sort-by"></div>
                    </label>
                </div>
            </li>
        </ul>
    </div> 
</div>
{% block results %}

<div id="results">

    <div id="loader" style="display: none"></div>
    <div id="output"></div>
    <div id="tohide" style="display:none"></div>
</div>
{% endblock %}
{% endblock %}