{% extends "index.html"%}
    {% block content %}
        {% with forsearch as forsearch %}
            {{ block.super }}
        {% endwith %}
    {% endblock %}
{% block results %}
        <div id="results">
        {% for poll in array %}
              <div class="lang" id="lang1">
                    <div class="lang_link">EN</div>
                         <div class="wordline">
                              <div class="cell word">
                                     {{ poll.word }}
                              </div>
                              <div class="cell transcipt">
                                     [{{ poll.ipa }}]
                              </div>
                              <div class="cell translate">
                                     {{ poll.meaning }}
                              </div>
                              <div class="cell percent">99%</div>
                         </div> 
              </div>
        {% endfor %}                       
        </div>
    
{% endblock %}